ai_classificadora/data/raw/dataset.csv filter=lfs diff=lfs merge=lfs -text
ai_classificadora/models/rf_pipeline.pkl filter=lfs diff=lfs merge=lfs -text
processed/training_data.csv filter=lfs diff=lfs merge=lfs -text
dataset.csv filter=lfs diff=lfs merge=lfs -text
ai_classificadora/data/processed/training_data.csv filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
